### Classification problem for Titanic dataset. 
The goal is to predict whether the passenger survived or not

In [1]:
import numpy as np 
import pandas as pd
from sklearn.tree import DecisionTreeClassifier

full_data = pd.read_csv('titanic_data.csv')
# We will use only "Survived", "Pclass", "Fare", "Sex" and "Age" columns
data_set = full_data[['Survived', 'Pclass', 'Fare', 'Age', 'Sex']]
# Delete objects with missing values
data_set = data_set.dropna(axis=0)
# 1- male, 0 - female
data_set = data_set.replace('male', 1)
data_set = data_set.replace('female', 0)
# Decision tree accept array-like input
data_array = data_set.to_numpy()
x = data_array[:, 1:]
# Variable y is 'Survived' column
y = data_array[:, 0]
# Train the decision tree
clf = DecisionTreeClassifier(random_state=241)
clf.fit(x, y)
importances = clf.feature_importances_
# Find two most important features
max_1 = np.argmax(importances)
importances[max_1] = importances[max_1]-1
max_2 = np.argmax(importances)
print("The most impornant features is ", data_set.columns[max_1+1], " and ", data_set.columns[max_2+1])